﻿.main {
    margin: 0 auto;
    width: 1024px;
}

.center-text {
    text-align: center;
}

.platforms {
    width: 900px;
    margin: 0 auto;
}

.platform {
    float: right;
    width: 300px;
    height: 300px;
}

.last-platform {
    width: 300px;
    height: 300px;
}

.news-list {
    margin-top: 40px;
}

.news {
    margin-top: 20px;
    min-height: 130px;
}

.news-photo {
    width: 128px;
    height: 128px;
    float: left;
    margin-right: 20px;
}

.news-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.news-content {
    font-size: 16px;
}

.verdana-text {
    font-family: Verdana,sans-serif;
}

.top-menu {
    margin-bottom: 20px;
    margin-left: 80px;
}

.find-user {
    float: left;
}

.float-none {
    float: none;
    clear: both;
    display: block;
}

.registration {
    float: right;
    margin-right: 100px;
}

.to-main {
    float: left;
    margin-left: 20px;
}

.registration-answer {
    float: left;
    margin-left: 20px;
    color: green;
}

.registration-form {
    margin: 20px auto;
    width: 300px;
}

.form-field {
    width: 200px;
}

#Registrate {
    margin-top: 10px;
}

.error-message {
    margin-top: 10px;
    color: red;
}