﻿@{
    ViewBag.Title = "Net Race";
    Layout = "../Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/MainScript.js")"></script>
<script type="text/plain" id="tmpl_news">
    <div class="news">
        <div class="news-photo">
            <img src="${pathToPhoto}" alt="NewsPhoto" />
        </div>

        <div class="news-text">
            <div class="news-title verdana-text">
                ${newsTitle}
            </div>
            <div class="news-content verdana-text">
                ${newsContent}
            </div>
        </div>
    </div>
</script>

<div class="center-text verdana-text"><h1>Net Race Online!</h1></div>

<div class="top-menu">
    <div class="find-user">
        <input type="text" class="searched-user" />
        <input class="find-user-button" type="button" value="Find user" />
    </div>
    
    <div class="to-main">
        <a class="verdana-text to-main" href="/Main/Index">To Index</a>
    </div>
    
    <div class="verdana-text registration-answer"></div>

    <input type="button" class="registration" value="Registrate" id="registrate-button" />
</div>

<div class="float-none"></div>

<div class="registration-form">
    <div class="form-field">
        <span class="field-lable verdana-text">Name: </span>
        <input type="text" maxlength="255" id="inputName" />
    </div>
    <div class="form-field">
        <span class="field-lable verdana-text">Password: </span>
        <input type="password" maxlength="255" id="inputPassword" />
    </div>
    
    <input type="button" value="Registrate" id="registrate" />
    
    <div class="error-message"></div>
</div>

<div class="download-zone">
    <div class="platforms">
        <div class="platform">
            <a href="~/Main/DownloadGame?platform=Windows"><img src="~/Images/WindowsIco.png" alt="WindowsDownloadIco"></a>
        </div>
        <div class="platform">
            <a href="~/Main/DownloadGame?platform=MacOsX"><img src="~/Images/MacIco.png" alt="MacDownloadIco"></a>
        </div>
        <div class="last-platform">
            <a href="~/Main/DownloadGame?platform=Linux"><img src="~/Images/LinuxIco.jpg" alt="LinuxDownloadIco"></a>
        </div>
    </div>

    <div class="center-text verdana-text">Download game for your platform!</div>
</div>
<div class="content-list">
    <div class="center-text verdana-text"><h2 id="DataTitle">Game News!</h2></div> 
</div>
