﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/Libs/jquery-1.11.0.js")"></script>
        <script src="@Url.Content("~/Scripts/Libs/jquery.unobtrusive-ajax.js")"></script>
        <script src="@Url.Content("~/Scripts/Libs/jquery.tmpl.js")"></script>
        <script src="@Url.Content("~/Scripts/Libs/jquery.validate.js")"></script>
    </head>
    <body>
        <div class="main">
            @RenderBody()
        </div>
    </body>
</html>